.articles{
    &__el{
        margin-top: 80px;
        &:first-of-type{
            margin-top: 20px;
        }
        p{
            font-size: 14px;
            margin-top: 28.8px;
            margin-bottom: 28.8px;
        }
        .date{
            font-size: 14px;
            margin-bottom: 14px;
        }

        .read-more{
            font-family: $s-serif;
            color: $c-main;
            font-size: 14px;
        }
    }
}
