body{
    font-family: $serif;
}

.logo{
    width: 18vw;
    height: 18vw;
    background-color: $c-text;
    display: inline-block;
    font-family: $serif;
    font-weight: bold;
    position: relative;
    &:after{
        content: '';
        width: 3vw;
        height: 3vw;
        background-color: $c-main;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    a{
        p{
            color: $c-bg;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 12%;
            font-size: 32px;
            line-height: 1.4;
        }
    }
}

section{
    margin-top: 140px;
}
