body{
    font-family: $serif;
}

.logo{
    width: 72px;
    height: 72px;
    background-color: $c-text;
    display: inline-block;
    font-family: $serif;
    font-weight: bold;
    position: relative;
    &:after{
        content: '';
        width: 12px;
        height: 12px;
        background-color: $c-main;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    a{
        p{
            color: $c-bg;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 8px;
            font-size: 36px;
            line-height: 1.4;
        }
    }
}

section{
    margin-top: 140px;
}

.line{
    position: fixed;

    top: 0px;
    left: 72px;
    height: 100vh;
    width: 1px;
    background-color: $c-line;

    &--mid1{
        left: 33%;
    }

    &--mid2{
        left: 66%;
    }

    &--right{
        left: inherit;
        right: 72px;
    }
}
