.classic-btn{
    padding: 15px 25px;
    box-sizing: border-box;
    border: 0.5px solid $c-text-light;
    color: $c-text;
    border-radius: 50px;
    font-family: $s-serif;
    font-size: 14px;
    position: relative;
    margin-top: 40px;
    display: inline-block;
    transition: all 0.3s;
    &--filled{
        background-color: $c-text;
        color: $c-bg;
        border: none;
        padding: 15px 75px;
        margin-top: inherit;
    }
    &--space{
        margin-top: 80px;
    }
    &:hover{
        color: $c-bg;
        text-decoration: none;
        background-color: $c-text;
        transform: scale(1.06);
        transition: all 0.3s;
        border-color: $c-text;
    }
}

.centred{
    display: block;
    margin: 0 auto;
    text-align: center;
}
