.burger{
    padding: 20PX 10px;
    float: right;
    margin-top: -18.5vw;
    height: 2px;
    margin-bottom: 0;
    p{
        width: 28px;
        height: 2px;
        background-color: $c-text;
        font-size: 0;
        display: block;
        position: relative;

        &:before{
            content: '';
            width: 28px;
            height: 2px;
            background-color: $c-text;
            position: absolute;
            top: -8px;
        }

        &:after{
            content: '';
            width: 28px;
            height: 2px;
            background-color: $c-text;
            position: absolute;
            top: 8px;
        }
    }
}

.main-nav{
    display: none;

    li{
        .active{
            color: $c-main;
        }
    }
}

.socials{
    list-style: none;
    padding: 0;
    font-family: $s-serif;
    float: right;
    text-align: right;
    margin-top: -10px;
    &__el{
        margin-right: 10px;
        a{
            color: $c-text-light;
            font-size: 11px;
        }
    }
}

.nav-portfolio{
    list-style: none;
    padding: 0;
    font-family: $s-serif;
    float: right;
    margin-bottom: 40px;
    &__el{
        display: inline;
        margin-right: 16px;
        &:last-child{
            margin-right: inherit;
        }
        a{
            color: $c-text-light;
            font-size: 11px;
        }
        &--used a{
            color: $c-text;
        }
    }
}

@media (min-width: 576px) {
    .burger{
        margin-top: -80px;
        p{
            width: 35px;
            &:before{
                content: '';
                width: 35px;
                top: -12px;
            }

            &:after{
                content: '';
                width: 35px;
                top: 12px;
            }
        }
    }
}

@media (min-width: 768px) {
    .burger{
        display: none;
    }
    .main-nav{

        float: left;
        display: inline-block;
        margin-top: -78px;
        list-style: none;
        padding: 0;

        li{
            display: inline;
            margin-right: 20px;
            a{
                color: $c-text-light;
                font-size: 14px;
                font-family: $s-serif;
            }
            &:last-child{
                margin-right: inherit;
            }
        }
    }

    .socials{
        text-align: inherit;
        writing-mode: vertical-rl;
        transform: rotateZ(180deg);
        margin-right: 0;
        margin-top: 140px;
        position: absolute;
        right: 28px;

        &__el{
            display: inline;
            margin-bottom: 24px;
            a{
                color: $c-text-light;
                font-size: 11px;
            }
        }
    }
}

@media (min-width: 992px) {
    .socials{
        right: 8px;
    }
}

@media (min-width: 1040px) {
    .socials{
        right: 28px;
    }
}
